<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TrainerRegistration_Checker</servlet-name>
        <servlet-class>controller.TrainerRegistration_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerLogin_Checker</servlet-name>
        <servlet-class>controller.TrainerLogin_Checker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerProfile_Fetch</servlet-name>
        <servlet-class>controller.TrainerProfile_Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerProfile_Finder</servlet-name>
        <servlet-class>controller.TrainerProfile_Finder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerProfile_Update</servlet-name>
        <servlet-class>controller.TrainerProfile_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerProfile_Delete</servlet-name>
        <servlet-class>controller.TrainerProfile_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerCourse_Selector</servlet-name>
        <servlet-class>controller.TrainerCourse_Selector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerCourse_Register</servlet-name>
        <servlet-class>controller.TrainerCourse_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerCourses_Extracter</servlet-name>
        <servlet-class>controller.TrainerCourses_Extracter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainer_Get_Course_Details</servlet-name>
        <servlet-class>controller.Trainer_Get_Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerCourse_Update</servlet-name>
        <servlet-class>controller.TrainerCourse_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerCourse_Delete</servlet-name>
        <servlet-class>controller.TrainerCourse_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainer_Get_Verified_Course_Details</servlet-name>
        <servlet-class>controller.Trainer_Get_Verified_Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputCourse</servlet-name>
        <servlet-class>InputCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputTopic</servlet-name>
        <servlet-class>controller.InputTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Login_Verification</servlet-name>
        <servlet-class>controller.Student_Login_Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Registration_Verification</servlet-name>
        <servlet-class>controller.Student_Registration_Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Details</servlet-name>
        <servlet-class>controller.Student_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_profile_update</servlet-name>
        <servlet-class>controller.Student_profile_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Profile_Deletion</servlet-name>
        <servlet-class>controller.Student_Profile_Deletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Details</servlet-name>
        <servlet-class>controller.Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enroll_To_Course</servlet-name>
        <servlet-class>controller.Enroll_To_Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course_Domain_Selection</servlet-name>
        <servlet-class>controller.Course_Domain_Selection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Course_Details</servlet-name>
        <servlet-class>controller.Student_Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wishlist_Course</servlet-name>
        <servlet-class>controller.Wishlist_Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_From_Wishlist</servlet-name>
        <servlet-class>controller.Remove_From_Wishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainer_Course_Enrolled_Students</servlet-name>
        <servlet-class>controller.Trainer_Course_Enrolled_Students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apply_Search_Filters</servlet-name>
        <servlet-class>controller.Apply_Search_Filters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login_Check</servlet-name>
        <servlet-class>controller.Admin_Login_Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Options_Selector</servlet-name>
        <servlet-class>controller.Admin_Options_Selector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request_For_Deletion</servlet-name>
        <servlet-class>controller.Request_For_Deletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Deletion_Request</servlet-name>
        <servlet-class>controller.Cancel_Deletion_Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Trainer_Details</servlet-name>
        <servlet-class>controller.Admin_Trainer_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Trainer_Verification</servlet-name>
        <servlet-class>controller.Admin_Trainer_Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Trainer_Deletion</servlet-name>
        <servlet-class>controller.Admin_Trainer_Deletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_Payment_Details</servlet-name>
        <servlet-class>controller.Student_Payment_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Course_Verification</servlet-name>
        <servlet-class>controller.Admin_Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Course_Validation</servlet-name>
        <servlet-class>controller.Admin_Course_Validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Course_Deletion</servlet-name>
        <servlet-class>controller.Admin_Course_Deletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Course_Details</servlet-name>
        <servlet-class>controller.Admin_Course_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Delete_Students_List</servlet-name>
        <servlet-class>controller.Admin_Delete_Students_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Deletion_Student_Details</servlet-name>
        <servlet-class>controller.Admin_Deletion_Student_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Remove_Student</servlet-name>
        <servlet-class>controller.Admin_Remove_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Cancel_Student_Deletion</servlet-name>
        <servlet-class>controller.Admin_Cancel_Student_Deletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_Payment_Input</servlet-name>
        <servlet-class>controller.Check_Payment_Input</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainerRegistration_Checker</servlet-name>
        <url-pattern>/TrainerRegistration_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerLogin_Checker</servlet-name>
        <url-pattern>/TrainerLogin_Checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerProfile_Fetch</servlet-name>
        <url-pattern>/TrainerProfile_Fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerProfile_Finder</servlet-name>
        <url-pattern>/TrainerProfile_Finder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerProfile_Update</servlet-name>
        <url-pattern>/TrainerProfile_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerProfile_Delete</servlet-name>
        <url-pattern>/TrainerProfile_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerCourse_Selector</servlet-name>
        <url-pattern>/TrainerCourse_Selector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerCourse_Register</servlet-name>
        <url-pattern>/TrainerCourse_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerCourses_Extracter</servlet-name>
        <url-pattern>/TrainerCourses_Extracter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainer_Get_Course_Details</servlet-name>
        <url-pattern>/Trainer_Get_Course_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerCourse_Update</servlet-name>
        <url-pattern>/TrainerCourse_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerCourse_Delete</servlet-name>
        <url-pattern>/TrainerCourse_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainer_Get_Verified_Course_Details</servlet-name>
        <url-pattern>/Trainer_Get_Verified_Course_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputCourse</servlet-name>
        <url-pattern>/InputCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputTopic</servlet-name>
        <url-pattern>/InputTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Login_Verification</servlet-name>
        <url-pattern>/Student_Login_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Registration_Verification</servlet-name>
        <url-pattern>/Student_Registration_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Details</servlet-name>
        <url-pattern>/Student_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_profile_update</servlet-name>
        <url-pattern>/Student_profile_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Profile_Deletion</servlet-name>
        <url-pattern>/Student_Profile_Deletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Details</servlet-name>
        <url-pattern>/Course_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enroll_To_Course</servlet-name>
        <url-pattern>/Enroll_To_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course_Domain_Selection</servlet-name>
        <url-pattern>/Course_Domain_Selection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Course_Details</servlet-name>
        <url-pattern>/Student_Course_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wishlist_Course</servlet-name>
        <url-pattern>/Wishlist_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_From_Wishlist</servlet-name>
        <url-pattern>/Remove_From_Wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainer_Course_Enrolled_Students</servlet-name>
        <url-pattern>/Trainer_Course_Enrolled_Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apply_Search_Filters</servlet-name>
        <url-pattern>/Apply_Search_Filters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login_Check</servlet-name>
        <url-pattern>/Admin_Login_Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Options_Selector</servlet-name>
        <url-pattern>/Admin_Options_Selector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request_For_Deletion</servlet-name>
        <url-pattern>/Request_For_Deletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Deletion_Request</servlet-name>
        <url-pattern>/Cancel_Deletion_Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Trainer_Details</servlet-name>
        <url-pattern>/Admin_Trainer_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Trainer_Verification</servlet-name>
        <url-pattern>/Admin_Trainer_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Trainer_Deletion</servlet-name>
        <url-pattern>/Admin_Trainer_Deletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Payment_Details</servlet-name>
        <url-pattern>/Student_Payment_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Course_Verification</servlet-name>
        <url-pattern>/Admin_Course_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Course_Validation</servlet-name>
        <url-pattern>/Admin_Course_Validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Course_Deletion</servlet-name>
        <url-pattern>/Admin_Course_Deletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Course_Details</servlet-name>
        <url-pattern>/Admin_Course_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Delete_Students_List</servlet-name>
        <url-pattern>/Admin_Delete_Students_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Deletion_Student_Details</servlet-name>
        <url-pattern>/Admin_Deletion_Student_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Remove_Student</servlet-name>
        <url-pattern>/Admin_Remove_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Cancel_Student_Deletion</servlet-name>
        <url-pattern>/Admin_Cancel_Student_Deletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Payment_Input</servlet-name>
        <url-pattern>/Check_Payment_Input</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
